<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />


    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <application>
        <activity
            android:name=".feature.chat.photo.PhotoDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme" />
        <activity
            android:name=".feature.member.list.MemberActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme" />
        <activity
            android:name=".feature.channel.info.ChannelInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme" />
        <activity
            android:name=".feature.channel.create.ChannelCreateActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme" />
        <activity
            android:name=".feature.channel.search.ChannelSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".feature.channel.main.ChannelActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme" />
        <activity
            android:name=".feature.chat.ChatActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/KlatAppTheme"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>